# This is a basic workflow to help you get started with Actions

name: Action to test persistence

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  # push:
  #  branches: [ "main" ]
  # pull_request:
  #  branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # note - time in UTC
  # schedule:
  #  - cron: "25 3 * * *"

permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    # Set the environment variable for this entire job
    env:
      ACTIONS_STEP_DEBUG: true

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Prepare settings.xml to use github registry
        uses: s4u/maven-settings-action@v4.0.0

      - name: Build with Maven
        run: |
          CURRENT_DIR=$(pwd)
          echo "Git clone directory is ${CURRENT_DIR}"
          mvn -B package --file pom.xml
          mkdir -p /tmp/WORKDIR
          cp ./target/vsec.jar /tmp/WORKDIR/vsec.jar

      - name: Run application and persist data
        run: |
          CURRENT_DIR=$(pwd)
          echo "Current directory is ${CURRENT_DIR}"
          mkdir -p /tmp/WORKDIR/data
          
          # copy database file if exists
          if [ -f "${CURRENT_DIR}/data/mapdb.db.mv.db" ]; then
            cp "${CURRENT_DIR}/data/mapdb.db.mv.db" "/tmp/WORKDIR/data/mapdb.db.mv.db"
          else
            echo "File does not exist, skipping copy"
          fi
          
          cd /tmp/WORKDIR                    
          
          echo "${{ secrets.APP_PROPERTIES_FILE }}" > app.properties
          echo '${{ secrets.ALL_QS_MEMBERS }}' > all_qs_members.json
          java -jar vsec.jar ./app.properties
          mkdir -p ${CURRENT_DIR}/data
          cp ./data/mapdb.db.mv.db ${CURRENT_DIR}/data/mapdb.db.mv.db
          
          cd ${CURRENT_DIR}                    

          git config user.name github-actions
          git config user.email github-actions@github.com
          
          git add ./data/mapdb.db.mv.db                   
          
          git commit -m "Persist data after run in GitHub VM"
          git push